.buy-all:hover{
  background-color: #006b00 !important;
}

body{
  background-image: linear-gradient(rgba(112, 0, 112, 0.473), rgba(0, 204, 255, 0.753));
}

.app {
  transition: filter 0.3s ease;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
}
